@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod auctor magna. Donec hendrerit ex vel ex efficitur, at vulputate lectus bibendum. Fusce in nulla mauris. Duis tincidunt tortor fringilla, vestibulum nibh blandit, ullamcorper nisi. In semper quam ipsum, ut mollis velit varius non. Mauris eget turpis id velit tincidunt rhoncus eu sit amet ex. Praesent convallis diam erat, ut vestibulum tellus eleifend sed. Aenean blandit, enim ut commodo accumsan, nisl neque auctor velit, sodales facilisis felis turpis nec eros. Aenean id consectetur mi. Curabitur sapien lacus, suscipit lobortis tempor quis, pharetra nec velit. Duis euismod, lorem et aliquam faucibus, ex nulla eleifend sem, id feugiat leo lorem ultrices tortor.

    Vivamus eros dolor, suscipit imperdiet ligula a, condimentum pulvinar arcu. In enim mi, ultrices nec justo vel, vulputate molestie nulla. Quisque ultricies dui et porta consectetur. Mauris congue dictum mi, tincidunt fringilla tortor semper a. Aenean bibendum eu sapien imperdiet varius. Nunc rhoncus quam magna, quis cursus risus venenatis eu. Nunc vel metus ut nunc elementum placerat sed non neque. Praesent et lacus at turpis tincidunt accumsan at in enim. Morbi molestie congue leo ut rutrum. Sed ultrices imperdiet lectus sit amet consectetur. Sed luctus nibh non lacinia lacinia. Aliquam id fermentum sapien.

    Nam sit amet sagittis felis. Suspendisse at nisi nec felis faucibus posuere eget in mi. Curabitur id nunc a tortor scelerisque luctus id at magna. Suspendisse at cursus nibh, vel venenatis lectus. Nullam accumsan aliquet dolor, in viverra nulla vehicula quis. Suspendisse varius condimentum leo at rutrum. Integer consectetur libero eu nisl sagittis, id sollicitudin ante rhoncus.

    Donec erat augue, pulvinar eget iaculis sed, suscipit nec nibh. Duis velit lorem, ornare vel accumsan quis, dignissim vitae orci. Ut luctus eget purus sit amet luctus. Suspendisse potenti. Vivamus ut auctor mauris. Sed sed magna dapibus, gravida velit eu, hendrerit sem. Duis ac felis ornare, tincidunt felis molestie, semper justo. Suspendisse non velit mi. Nam quis turpis pellentesque, pretium velit a, cursus metus. Ut quis dui a sapien vulputate porta. Aliquam in lorem sit amet sapien vehicula mattis. Nulla suscipit enim dui, a fringilla urna dictum a. Ut pretium laoreet mauris, quis dignissim odio sodales eget. Mauris tempor mollis rutrum. Curabitur non finibus sapien.
</p>